<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 class="float-right pt-4">Cadastro de certificado</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        
            <%= form_for @cert do |form| %>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Título</label>
                            <%= form.text_field :name, class: "form-control" %>
                            <small id="titulohelp" class="form-text text-muted">Nome que deve aparecer no topo do certificado</small>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="hours">Horas</label>
                            <%= form.text_field :hours, class: "form-control" %>
                            <small id="horashelp" class="form-text text-muted">Número de horas do curso</small>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="description">Descrição</label>
                            <%= form.text_area :description, class:"form-control", rows:3 %>
                            <small id="descriptionhelp" class="form-text text-muted">Use as tags [nome], [curso] e [horas] para inserir informações no meio da descrição. HTML é permitido.</small>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="description">Ementa</label>
                            <%= form.text_area :menu, class:"form-control", rows:3 %>
                            <small id="ementahelp" class="form-text text-muted">Esse texto vai no verso do certificado. HTML é permitido.</small>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="custom-file">
                                <%= form.file_field :front_image, class: 'custom-file-input' %>
                                <label class="custom-file-label" for="front_image">Imagem da frente</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="custom-file">
                                <%= form.file_field :back_image, class: 'custom-file-input' %>
                                <label class="custom-file-label" for="back_image">Imagem do verso</label>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="hidden" name="cert[contex_id]" id="contex_id" value="<%= @course_id %>"> 
                        <input type="hidden" name="cert[context_title]" id="context_title" value="<%= @context_title %>">                   
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10"></div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <%= form.submit @verbose, class:"btn btn-primary btn-lg btn-block" %>
                        </div>
                    </div>
                </div>
                
                
            <% end %>
        </div>
    </div>
</div>