<table class="table">
    <thead>
        <tr>
            <th scope="col" width="80%">Curso</th>
            <th scope="col" width="10%"></th>
            <th scope="col" width="10%"></th>
        </tr>
    </thead>
    <tbody>
        <% @user_emissions.each do |emission| %>
        <% cert_name = Cert.where(:id => emission.cert_id).first %>
        <tr>
            <td scope="row"><%= cert_name.context_title %></td>
            <td><a href="<%= rails_blob_url(emission.certpdf) %>" download>Download</a></td>
            <td><a href="<%= rails_blob_url(emission.certpdf) %>" target="_blank">Imprimir</a></td>
        </tr>
        <% end %>
    </tbody>
</table>