<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h2 class="pt-4">Validar certificado</h2>
			<p>Você pode checar se o certificado é válido colocando o "Token do certificado" aqui e clicando em "validar".</p>
		</div>
	</div>
    
    <div class="row">
        <%= form_tag tokencheck_check_path, method: :get, class: "form-inline" do %>
            <div class="form-group mx-sm-3">
                <%= text_field_tag :validation_token, @validation_token, class: "form-control", "aria-describedby" => "helpToken" %>
            </div>
            <%= button_to "Validar", @validation_token, class:"btn btn-primary" %>
        <% end %>
    </div>


    <div class="row mt-3">
        <div class="col-md-12">
            <div class="alert alert-<%= @status %>" role="alert">
                <%= @message %>
            </div>
        </div>
    </div>

    
    <% if !@emission.blank? %>
    <div class="row">
		<div class="col-md-12">
			<div class="iframe-holder">
				<iframe src="<%= rails_blob_url(@emission.certpdf) %>"> </iframe>
			</div>
		</div>
	</div>
    <% end %>
</div>