// Place all the styles related to the Launch controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack:    Arial, sans-serif;
$primary-color: #444;

body {
    font: 100% $font-stack;
    color: $primary-color;
}
.iframe-holder{
    width: 100%;
    background-color: #e2e2e2;
    height: 320px;
    text-align: center;
}

.iframe-holder iframe{
    width:65%; 
    height:300px; 
    border: none; 
    margin:0 auto;
    padding-top: 15px;
}