// Place all the styles related to the tokencheck controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

.iframe-holder{
    width: 100%;
    background-color: #e2e2e2;
    height: 320px;
    text-align: center;
}

.iframe-holder iframe{
    width:65%; 
    height:300px; 
    border: none; 
    margin:0 auto;
    padding-top: 15px;
}