
<div id="text-front" style="width: 100%; height: 975px; background: url('<%= @front_image %>') no-repeat; background-size: contain;">
    <h3 style="padding-top: 300px; font-size:35px; text-align: center; width: 70%; margin: 0 auto;"><%= sanitize @formated_name %></h3>
    <p style="width: 70%; text-align: center;margin: 0 auto;padding-top: 40px;font-size: 22px; line-height: 35px;">
    <%= sanitize @formated_description %>
    </p>
</div>
<div id="text-front" style="width: 100%; height: 975px; background: url('<%= @back_image %>') no-repeat; background-size: contain;">
    <p style="width: 85%; margin: 0 auto; text-align: left;padding-top: 150px;font-size: 22px; line-height: 35px;">
    <%= sanitize @formated_menu %>
    </p>
    <p style="font-size:22px; position: absolute; padding-left: 100px; padding-bottom: 100px; bottom:0;">Token do certificado:<b> <%= sanitize @token_show %></b></p>
</div>