<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="mt-3">Certificado criado com sucesso!</h2>
            <p>Atualize a página se quiser ver as mudanças</p>
        </div>
    </div>
</div>
