<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h2 class="pt-4">Certificado</h2>
			<p>Parabéns! Seu certificado está disponível! Você pode imprimi-lo ou fazer o download clicando nos botões abaixo. Caso você queria ver todos os seus certificados emitidos, clique em "meus certificados" no menu de usuário a esquerda.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="iframe-holder">
				<iframe src="<%= rails_blob_url(@pdf_record.certpdf) %>"> </iframe>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10"></div>
		<div class="col-md-2">
			<div class="form-group">
				<% if @roles == "urn:lti:instrole:ims/lis/Administrator" %>
				<%= link_to 'Atualizar', edit_cert_path(@cert_record.id), class:"btn btn-primary btn-lg btn-block mt-3" %>
				<% end %>
			</div>
		</div>
	</div>
</div>
